{{define "email-footer"}}

<hr noshade size="1" color="#ccc">

<div style="{{style "email-footer"}}">

  <p style="{{style "email-footer.paragraph"}}">
    You are receiving this email because you set up a
    <a href="{{absoluteRouteUrl "index"}}" style="{{style "email-footer.link"}}">Slack Archive</a> account.
    <a href="{{absoluteRouteUrl "settings"}}" style="{{style "email-footer.link"}}">Update your email preferences</a>.
  </p>

  <p style="{{style "email-footer.paragraph"}}">
    Slack Archive is a project by
    <a href="http://persistent.info" style="{{style "email-footer.link"}}">Mihai Parparita</a>.
  </p>

</div>

{{end}}
