{{define "file"}}

<div style="{{style "message.file"}}">

  {{if .ThumbnailUrl}}
    <a href="{{.URLPrivate}}">
      <img src="{{.ThumbnailUrl}}" alt=""
          style="{{style "message.file.thumbnail"}}"
          width="{{.ThumbnailWidth}}" height="{{.ThumbnailHeight}}">
    </a>
  {{else}}
    <div style="{{style "message.file.preview"}}">
      <a href="{{.URLPrivate}}" style="{{style "message.file.preview.title"}}">
        {{.Title}}
      </a>
      {{.PreviewHtml}}
    </div>
  {{end}}

</div>

{{end}}
