{{define "message-group"}}

<div style="{{style "message-group"}}">
  <img src="{{.Author.Profile.Image72}}" style="{{style "message-group.author-image"}}" width="36" height="36">
  <b>{{.Author.Name}}</b>
  <span style="{{style "message-group.timestamp"}}">{{.DisplayTimestamp}}</span>
  {{if .FromBot}}
    <span style="{{style "message-group.bot-badge"}}">BOT</span>
  {{end}}
  <div style="{{style "message-group.body"}}">
    {{range .Messages}}
      {{template "message" .}}
    {{end}}
  </div>
</div>
{{end}}
