body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10pt;
  margin: 0;
  padding: 0;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline !important;
}

.header {
  position: relative;
  height: 164px;
  overflow: hidden;
  background: #eee;
}

.body {
  padding: 10px;
  max-width: 1102px;
  margin: 0 auto;
  position: relative;
}

.body h1 {
  margin-top: 0;
  color: #756344;
}

.body h1:empty {
  display: none;
}

.blurb {
  font-size: 16px;
  line-height: 24px;
  margin: 1em 15px;
}

form.inline {
  display: inline;
}

input[type="submit"].inline {
  -webkit-appearance: none;
  display: inline;
  background: transparent;
  padding: 0;
  border: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: inherit;
  color: #4183c4;
  cursor: pointer;
}

input[type="submit"].inline:hover {
  text-decoration: underline;
}

input[type="submit"].inline.destructive {
  text-decoration: underline;
  color: #900;
}

.flash {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  color: #fff;
  font-size: 12pt;
  padding: 10px;
  transition: opacity ease-in-out 300ms;
  opacity: 0;
}

.flash.visible {
  opacity: 1;
}

.footer {
  padding: 10px;
  max-width: 1102px;
  margin: 0 auto;
  position: relative;
  color: #999;
}

.footer .contents {
  border-top: dashed 1px #ccc;
  padding-top: 10px;
  text-align: right;
}

.footer a {
  color: #779dc2;
}

.footer .disclaimer {
  float: left;
  color: #aaa;
}

.conversation-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1.2em;
}

.conversation-list .conversation {
  margin: 0.5em 0;
  padding: 0;
  font-weight: bold;
}

.conversation-list .conversation .purpose {
  color: #999;
  font-weight: normal;
}

.conversation-list .conversation .hash {
  font-weight: normal;
}

.conversation-list .conversation .lock {
  font-weight: normal;
}

.conversation-list .conversation .user-image {
  width: 18px;
  height: 18px;
}

.setting {
  margin: 1em 0;
}

.setting .explanation {
  color: #999;
  margin: 0;
}

#delete-account-form {
  border-top: dashed 1px #ccc;
  margin-top: 1em;
  padding-top: 1em;
}
