<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Slack Archive {{template "title" .}}</title>
  <meta name="viewport" content="initial-scale=1 maximum-scale=1 user-scalable=no">
  <link rel="stylesheet" href="/static/main.css">
</head>
<body>
  <div class="header">
    <a href="/">
      <h1>Slack Archive</h1>
    </a>
  </div>

  <div class="body">
    {{range .Flashes}}
      {{template "flash" .}}
    {{end}}

    {{template "body" .}}
  </div>

  <div class="footer">
    <div class="contents">
      <div class="disclaimer">Not supported by or affiliated with Slack.</div>
      A project by <a href="http://persistent.info">Mihai Parparita</a>
      -
      <a href="https://github.com/mihaip/slack-archive">Source</a>
    </div>
  </div>

</body>
</html>
