{{define "title"}}{{end}}

{{define "conversation"}}
    <li class="conversation">
      <a href="{{.ArchiveUrl}}">{{.Name}}</a>
      {{if .Purpose}}
        <span class="purpose">{{.Purpose}}</span>
      {{end}}
    </li>
{{end}}

{{define "body"}}

<div class="blurb">
  You're signed in as {{.User.Name}} from <a href="https://{{.Team.Domain}}.slack.com/">{{.Team.Name}}</a>.
</div>


{{if .Conversations.Channels}}
  <h2>Channels</h2>

  <ul>
    {{range .Conversations.Channels}}
      {{template "conversation" .}}
    {{end}}
  </ul>
{{end}}

{{if .Conversations.PrivateChannels}}
  <h2>Private Channels</h2>

  <ul>
    {{range .Conversations.PrivateChannels}}
      {{template "conversation" .}}
    {{end}}
  </ul>
{{end}}

{{if or .Conversations.DirectMessages .Conversations.MultiPartyDirectMessages}}
  <h2>Direct Messages</h2>

  <ul>
    {{range .Conversations.DirectMessages}}
      {{template "conversation" .}}
    {{end}}
    {{range .Conversations.MultiPartyDirectMessages}}
      {{template "conversation" .}}
    {{end}}
  </ul>
{{end}}

{{end}}
