{{define "title"}}{{end}}

{{define "conversation"}}
    <li class="conversation">
      <a href="{{.ArchiveUrl}}">{{.NameHtml}}</a>
      {{if .Purpose}}
        <span class="purpose">{{.Purpose}}</span>
      {{end}}
    </li>
{{end}}

{{define "body"}}

<div class="blurb">
  You're signed in as {{.User.Name}} from <a href="https://{{.Team.Domain}}.slack.com/">{{.Team.Name}}</a>
  (<form class="inline" method="POST" action="{{routeUrl "sign-out"}}"><input type="submit" class="inline" value="sign out"></form>).

  {{if eq .SettingsSummary.EmailAddress "disabled"}}
    You've disabled emails, but you can still view your Slack activity in
    in {{.SettingsSummary.ConversationCount}} conversations below.
  {{else}}
    You'll be getting a daily archive of your Slack activity in
    {{.SettingsSummary.ConversationCount}} conversations sent to
    <code>{{.SettingsSummary.EmailAddress}}</code>
  {{end}}

  (<a href="{{routeUrl "settings"}}">change settings</a>).

</div>

<form method="POST" action="{{routeUrl "send-archive"}}">
  <input type="submit" class="action-button" value="Send Archive">
</form>

{{if .Conversations.Channels}}
  <h2>Channels</h2>

  <ul class="conversation-list">
    {{range .Conversations.Channels}}
      {{template "conversation" .}}
    {{end}}
  </ul>
{{end}}

{{if .Conversations.PrivateChannels}}
  <h2>Private Channels</h2>

  <ul class="conversation-list">
    {{range .Conversations.PrivateChannels}}
      {{template "conversation" .}}
    {{end}}
  </ul>
{{end}}

{{if or .Conversations.DirectMessages .Conversations.MultiPartyDirectMessages}}
  <h2>Direct Messages</h2>

  <ul class="conversation-list">
    {{range .Conversations.DirectMessages}}
      {{template "conversation" .}}
    {{end}}
    {{range .Conversations.MultiPartyDirectMessages}}
      {{template "conversation" .}}
    {{end}}
  </ul>
{{end}}

{{end}}
